.body-wrapper{
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.main-container{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	max-width:1440px;
	margin-bottom:50px;
}
.sub-title{
	padding-left:15px;	
}
.sub-title-label, .sub-title{
	font-size:28px;
	font-weight:bold;
}
.sub-title-wrapper{
	padding-top:80px;
	justify-content:space-between;
}
.sub-title-container{
	width:100%;
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
}
.sub-title-left{
	font-size:32px;
}
.sub-title-right{
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:18px;
	color:#3F80F8;
	font-weight:bold;
}
.back{
	cursor:pointer;	
}
table{
	margin-top:20px;
}
th, td{
	text-align:center;
}
.title{
	width:70%;
}
.pagination{
	border:none;
}
ul{
	margin-bottom:0px;
	border:none;
}
.center-container{
	display:flex;
	justify-content:center;
	margin-top:50px;
}
#search-bar{
	display:flex;
	width:40%;
	align-items:center;
	border:1px solid #3F80F8;
	border-radius:15px;
	justify-content:space-evenly;
	margin-right:0px;
	height:40px;
}
.search-logo{
	width:20px;
	height:20px;
}
.divider{
	font-size:20px;
	margin-bottom:5px;	
	color:#3F80F8;;
}
.search-container{
	display:flex;
	justify-content:end;
}
#search{
	border:none;
}
#btn-search{
	border:none;
	background-color:white;
}