.main-wrapper{
    display:flex;
    justify-content:center;
    width:100%;
}
body{
    display:flex;
    flex-direction:column;
    
}
.main-container{
    max-width:1440px;
    width:100%;
}
#map{
    height:70vh;
    max-height:1000px;
}

.title-container{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
}
.title-left{
    font-size:24px;
    font-weight:bold;
}
.title-right{
    color:#3F80F8;
    
}
.label .center{
    border:1px solid #808080;
    border-radius:10px;
    background-color:white;
    font-size:6px;
    padding-left:5px;
    padding-right:5px;
}
body{
	 font-family: 'Nanum Gothic', sans-serif;
}
.sub-title{
    font-weight:bold;
    font-size:20px;
    margin-bottom:5px;
}
.form-control{
    padding-top:5px;
    padding-bottom:5px;
    border:2px solid #808080;
    box-shadow: 2px 2px 2px #d3d3d3 ;
}
.sub-container{
    margin-bottom:15px;
}
.form-control::placeholder{
    font-weight:bold;
    opacity:0.5;
}
.title-right:hover{
    cursor:pointer;
}
.btn-container{
    display:flex;
    justify-content:end;
}
.btn-right{
    background-color:#39CCCC;
     color:white;
}
.btn-right:hover{
    background-color:#39CCCC;
    opacity:0.7;
    color:white;
}
.btn-right:active{
    background-color:#39CCCC;
    opacity:0.7;
    color:white;
}

#tour-list{
	display:flex;
	flex-direction:column;
}
#tour-list span{
	display:flex;
	align-items:center;
	margin-left:5px;
	margin-bottom:5px;
}
.tour-title{
	margin-left:20px;
	font-weight:bold;
	width:80%;
}
.tour-left{
	width:50px;
	display:flex;
	align-items:center;
}
.data-container{
	font-size:12px;
	font-weight:600;
	margin-left:10px;
	margin-bottom:0px;
	display:flex;
	justify-content:flex-end;
	
}
.distance-container{
	width:100%;
	display:flex;
	justify-content:flex-end;
	margin-top:5px;
	margin-bottom:5px;
}
p{
	margin:0px;
}
.tour-right{
	width:90%;
	display:flex;
	justify-content:space-between;
}
span .circle{
	background-color:#808080;
	width:8px;
	height:8px;
	border-radius:20px;
	margin-left:3px !important;
	margin-top:5px !important;
}
.duration{
	margin-left:5px;
	
}

#predict-time{
	margin-top:1px;
}
.sub-sub-title{
	font-size:20px;
	font-weight:bold;
	margin-right:5px;
	
}
.sub-context{
	font-size:18px;
	color:#2222222;
}


.select-tour{
	display:flex;
	margin-bottom:15px;	
}
.sub-container{
	margin-bottom:30px;
}