.logo{
	width:200px;
	margin-left: 100px;
}
.my-nav{
	display:flex;
	justify-content:center;
	align-items:center;
}
.my-nav a{
	padding-left:20px;
	padding-right:20px;
	font-size:18px;
	font-weight:bold;
	color:black;
}
nav, nav div{
	background-color:white !important;
}
.bg-info{
	background-color:white !important;
}
.main-background{
	width:100%;
}
.my-nav a:after{
	display:block;
	content:'';
	border-bottom:2px solid #3F80F8;
	transform : scaleX(0);
	transition : transform 250ms ease-in-out;
}
.my-nav a:hover:after{
	transform : scaleX(1);
}