.sub-title{
	padding-left:15px;	
}
.sub-title-label, .sub-title{
	font-size:28px;
	font-weight:bold;
}
.sub-title-wrapper{
	padding-top:80px;
	justify-content:space-between;
	padding-right:0px;
	padding-left:0px;
	width:100%;
}
.sub-title-container{
	width:100%;
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
}
.sub-title-left{
	font-size:32px;
}
.sub-title-right{
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:18px;
	color:#3F80F8;
	font-weight:bold;
}
.back-text{
	padding-left:5px;
	cursor: pointer;
}
.btn {
	cursor: pointer;
}
.flex-between{
	width:100%;
	display:flex;
	justify-content:space-between;
	margin-bottom: 10px;
}
.name{
	color: #555555;
	font-size:15px;
}
.createdDate{
	color: #808080;
}
.row{
	margin:0px !important;
}
.title{
	width:100%;
	font-weight:bolder;
	font-size: 25px;
	margin-bottom: 13px;
}
.place{
	width:100%;
	color: #3F80F8;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 15px; 
}
body{
	 font-family: 'Nanum Gothic', sans-serif;
}
.img-div{
	height: 400px;
}
img{
	width:100%;
	height:100%;
	border-radius: 10px;
	object-fit:scale-down;
}
.carousel-item img{
    height:300px !important;
}

#carouselExampleIndicators{
    width:100%;    
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	background-color: #3F80F8;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	opacity: 0.8;
}
.content {
	font-size: 20px;
	margin-top: 20px;
}
.edit{
	text-decoration:none;
	color:#808080;
	font-weight:bold;
}
.delete{
	text-decoration:none;
	color:red;
	font-weight:bold;
	margin-left:10px;
}
.util-container{
	width:100%;
	display: flex;
	justify-content: flex-end;
}
.btn {
	padding: 0px;
}
#reply-container{
	margin-top:30px;
	padding-left:0px;
	display:grid;
	grid-template-rows:30px;
	grid-template-columns:100%;	
	grid-auto-rows:auto;
	row-gap:30px;
}
#reply-container .row{
	padding-left:0px;
}
.reply-title,.reply-count{
	padding-left:0px;
	width:fit-content;
	font-weight:bold;
	font-size:24px;
}
.reply-count{
	font-size:20px;
	display:flex;
	align-items:center;
}
.reply{
	display:grid;
	grid-template-columns:50px 1fr;	
	grid-column-gap:10px;
}
.reply-right-bottom{
	word-break:break-all;	
}
.reply-profile{
	border:1px solid black;
	border-radius:25px;
	width:45px;
	height:45px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.reply-profile i{
	font-size:24px;
}
.reply-right{
	display:flex;
	flex-direction:column;
}
.reply-right-top{
	display:flex;
	justify-content:space-between;
	margin-bottom:10px;
}
.reply-right-top-right{
	width:60px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
.reply-right-top-right i{
	margin-left:10px;
}
.reply-right-top-left span:first-child{
	font-weight:bold;
	font-size:20px;
}

.input-reply-container{
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin-bottom:20px;
}
.reply-context{
	padding:0px;
	width:75%;
	height:100%;
	border-radius:15px;
	padding-left:10px;
	padding-top:10px;
}
.reply-context{
	border:2px solid black;	
}
.reply-context:empty:before{
	content:attr(placeholder);
}
.delete-reply-button:hover,.regist-reply:hover{
	cursor:pointer;
}
.input-reply-container i{
	font-size:24px;
}
.input-reply-container{
	margin-bottom:30px;
}
.reply{
	margin-bottom:20px;
}