.sub-title{
	padding-left:15px;	
}
.sub-title-label, .sub-title{
	font-size:28px;
	font-weight:bold;
}
.sub-title-wrapper{
	padding-top:80px;
	justify-content:space-between;
}
.sub-title-container{
	width:100%;
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
}
.sub-title-left{
	font-size:32px;
}
.sub-title-right{
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:18px;
	color:#3F80F8;
	font-weight:bold;
}
.back-text{
	padding-left:5px;
	cursor: pointer;
}
.btn-wrapper{
	display:flex;
	justify-content:end;
	margin-top:20px;
}
.btn{
	background-color:#39CCCC;
	width: 140px;
	height: 90% 
}
.btn:hover{
	background-color:#39CCCC;
	opacity:0.8;
	color:white;
}
.btn {
	margin-bottom:20px;
	padding-left:30px;
	padding-right:30px;
	color:white;
}
.row{
	--bs-gutter-x:0;
}
.review-card{
	position:relative;
	width:100%;
	cursor: pointer;
}
.review-title:hover{
	opacity:0.9;
	background-color:rgba(0,0,0,0.3);
}
.review-title{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	display:flex;
	align-items:flex-end;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color: white;
	border-radius: 10px;
	opacity: 0;
	z-index:5;
}
.review-img{
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:10px; 
}
.review-container{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:auto;
	gap:15px;
}
#search-bar{
	display:flex;
	width:50%;
	align-items:center;
	border:2px solid #3F80F8;
	border-radius:15px;
	box-shadow:2px 2px 10px #d3d3d3;
	justify-content:space-evenly;
	margin-right:0px;
	margin-top:20px;
}
.search-logo{
	width:32px;
	height:32px;
}
.divider{
	font-size:30px;
	margin-bottom:5px;	
	color:#3F80F8;;
}
.form-search{
	width:70%;
	border:none;
	color:#3F80F8;
}
.form-search::placeholder{
	color:#808080;
	font-size:17px;
	opacity:40%;
}
.search-tour-container{
	display:flex;
	flex-direction:column;
	align-items:center;
}
#btn-search {
	background-color:transparent;
	border:none;
	font-size:26px;
	padding-left:0px;
	padding-right:0px;
}
.search-container{
	display:flex;
	flex-direction:column;
	width:100%;
}
.function-container{
	display:flex;
	justify-content: space-between;
	margin-bottom: 50px;	
}
.sub-title-right{
	cursor:pointer;
}
.no-match{
	display: none;
	font-weight: bolder;
}