.sub-title{
	padding-left:5px;
	font-size: 18px;	
	font-weight:bold;
	margin-bottom:20px;
}
.sub-title-label{
	font-size:28px;
	font-weight:bold;
}
.sub-title-wrapper{
	padding-top:80px;
	justify-content:space-between;
}
.sub-title-container{
	width:100%;
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
}
.sub-title-left{
	font-size:32px;
}
.sub-title-right{
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:18px;
	color:#3F80F8;
	font-weight:bold;
}
.back-text{
	padding-left:5px;
}
.sub-title-right:hover{
	cursor:pointer;
}

.title-form{
	height: 50px;
}
.btn{
	background-color:#3F80F8;
}
.btn:hover{
	background-color:#3F80F8;
	opacity:0.8;
	color:white;
}
.btn {
	margin-bottom:20px;
	padding-left:30px;
	padding-right:30px;
	color:white;
}
#search-bar{
	display:flex;
	width:100%;
	align-items:center;
	border:2px solid #3F80F8;
	border-radius:15px;
	box-shadow:2px 2px 10px #d3d3d3;
	justify-content:space-around;
}
#btn-search{
	background-color:white;
	border:none;
}
#btn-search i {
	font-size:20px;
}
.search-logo{
	width:32px;
	height:32px;
}
.divider{
	font-size:30px;
	margin-bottom:5px;	
	color:#3F80F8;;
}
.form-search{
	width:70%;
	border:none;
	color:#3F80F8;
}
.form-search::placeholder{
	color:#808080;
	font-size:17px;
	opacity:40%;
}
#btn-search-{
	background-color:transparent;
	border:none;
	font-size:26px;
	padding-left:0px;
	padding-right:0px;
}
.search-container{
	padding-top:10px;
}
.card-address{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.card-right{
	display:flex;
	flex-direction:column;
	width:80%;
	
}
.card-title{
	font-weight:bold;
	font-size:18px;
}
.card-address-container{
	display:flex;
}
.tour-container{
	overflow-y:scroll;
	overflow-x:hidden;
	height:60vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top:20px;
}
.card-description div i{
	margin-right:7px;
}
.card{
	width:90%;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
}
.card:hover{
	cursor:pointer;
}
.tour-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #d3d3d3; 
  border-radius:20px;
}

.tour-container::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius:20px;
}
#search-result{
	font-weight:bold;
	font-size:20px;
	margin-left:10px;
	margin-top:20px;
}
.btn{
}
input[name = file]{
	margin-bottom:30px;
}
.form-control{
	margin-bottom:30px;
}
.btn-container{
	display:flex;
	justify-content:end;
}
#tour-title{
	width:40%;
	min-width:200px;
}
.flex{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
#selected{
	margin-top:20px;
}
#preview{
	width:min(300px,100%);
	object-fit:cover;
	margin-bottom:20px;
}